<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUST 쇼핑몰</title>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- script -->
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="container">
            <header id="header">
                <h1 class="logo">
                    <a href="#">JUST 쇼핑몰</a>
                </h1>
                <nav class="nav">
                    <ul>
                        <li><a href="#">탑</a>
                            <ul class="submenu">
                                <li><a href="#">블라우스</a></li>
                                <li><a href="#">티</a></li>
                                <li><a href="#">셔츠</a></li>
                                <li><a href="#">니트</a></li>
                            </ul>
                        </li>
                        <li><a href="#">아우터</a>
                            <ul class="submenu">
                                <li><a href="#">자켓</a></li>
                                <li><a href="#">코트</a></li>
                                <li><a href="#">가디건</a></li>
                                <li><a href="#">머플러</a></li>
                            </ul>
                        </li>
                        <li><a href="#">팬츠</a>
                            <ul class="submenu">
                                <li><a href="#">청바지</a></li>
                                <li><a href="#">짧은바지</a></li>
                                <li><a href="#">긴바지</a></li>
                                <li><a href="#">레깅스</a></li>
                            </ul>
                        </li>
                        <li><a href="#">악세서리</a>
                            <ul class="submenu">
                                <li><a href="#">귀고리</a></li>
                                <li><a href="#">목걸이</a></li>
                                <li><a href="#">반지</a></li>
                                <li><a href="#">팔찌</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <article id="slider">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <div class="text">
                            <h3>사랑하는 사람에게 따뜻한 겨울을</h3>
                            <p>JUST 쇼핑몰</p>
                        </div>
                    </div>
                    <div class="slider s2">
                        <div class="text">
                            <h3>요즘 유행하는 옷이 궁금하다면</h3>
                            <p>JUST 쇼핑몰</p>
                        </div>
                    </div>
                    <div class="slider s3">
                        <div class="text">
                            <h3>행사 상품 최대 50% 할인</h3>
                            <p>JUST 쇼핑몰</p>
                        </div>
                    </div>
                </div>
            </article>
            <main id="main">
                <article class="notice_gallery">
                    <div class="notice">
                        <h3>공지사항</h3>
                        <ul>
                            <li><a href="#"></a><span>2023.03.04</span></li>
                            <li><a href="#"></a><span>2023.05.04</span></li>
                            <li><a href="#"></a><span>2023.04.04</span></li>
                            <li><a href="#"></a><span>2023.05.04</span></li>
                            <li><a href="#"></a><span>2023.04.04</span></li>
                        </ul>
                    </div>
                    <div class="gallery">
                        <h3>갤러리</h3>
                        <ul>
                            <li><a href="#"></a><span>쇼핑몰 외관</span></li>
                            <li><a href="#"></a><span>쇼핑몰 내부</span></li>
                            <li><a href="#"></a><span>쇼핑몰의 상품들</span></li>
                        </ul>
                    </div>
                </article>
                <article class="banner">

                </article>
                <article class="link">
                    <h3>링크</h3>
                    <ul>
                        <li>
                            <a href="#"><span>진행중인 이벤트</span></a>
                            <a href="#"><span>어플 다운로드 바로가기</span></a>
                            <a href="#"><span>어쩌고 바로가기</span></a>
                        </li>
                    </ul>
                </article>
            </main>
            <footer id="footer">
                <div class="footer1">
                    <h1 class="logo">
                        <a href="#">JUST 쇼핑몰</a>
                    </h1>
                </div>
                <div class="footer2">
                    <span>Copyright wolves941110@gmail.com<br>
                        안산시 상록구 이동 9999-111 00아파트 103동
                    </span>
                </div>
                <div class="footer3">
                    <ul>
                        <li>
                            <a href="#"></a>
                            <img src="svg/facebook.svg" alt="">
                        </li>
                        <li>
                            <a href="#"></a>
                            <img src="svg/instagram.svg" alt="">
                        </li>
                        <li>
                            <a href="#"></a>
                            <img src="svg/youtube.svg alt="">
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>