.none {
    display: none;
}
.container {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}
.fix_image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 476px;
    padding-top: 70px;
}

/* btn_style */
.btn_style {
    display: block;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 1rem 3rem;
    margin: 0 auto;
    cursor: pointer;
}
.btn_style2 {
    width: 100%;
    display: block;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.2rem;
    padding: 1rem 3.5rem;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
}
.btn_style3 {
    display: inline-block;
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}


/* 마진 간격 */
.mt0 {margin-top: 0px !important;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}
.mt70 {margin-top: 70px !important;}
.mt80 {margin-top: 80px !important;}
.mt90 {margin-top: 90px !important;}
.mt100 {margin-top: 100px !important;}

.mr0 {margin-right: 0px !important;}
.mr10 {margin-right: 10px !important;}
.mr20 {margin-right: 20px !important;}
.mr30 {margin-right: 30px !important;}
.mr40 {margin-right: 40px !important;}
.mr50 {margin-right: 50px !important;}
.mr60 {margin-right: 60px !important;}
.mr70 {margin-right: 70px !important;}
.mr80 {margin-right: 80px !important;}
.mr90 {margin-right: 90px !important;}
.mr100 {margin-right: 100px !important;}