<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조이컨트리클럽</title>
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- script -->
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>

<body>
    <div id="wrap">
        <header id="aside">
            <h1 class="logo"><a href="#">조이컨트리클럽</a></h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">CLUB</a>
                        <ul class="submenu">
                            <li><a href="#">클럽소개</a></li>
                            <li><a href="#">시설안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BOOKING</a>
                        <ul class="submenu">
                            <li><a href="#">요금안내</a></li>
                            <li><a href="#">예약안내</a></li>
                            <li><a href="#">위약안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">INFORMATION</a>
                        <ul class="submenu">
                            <li><a href="#">명예의 전당</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">자료실</a></li>
                            <li><a href="#">포토갤러리</a></li>
                        </ul>
                    </li>
                    <li><a href="#">COMMUNITY</a>
                        <ul class="submenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
                <article class="spot_menu">
                    <div class="spot_menu-1">로그인</div>
                    <div class="line"></div>
                    <div class="spot_menu-2">회원가입</div>
                </article>
            </nav>
        </header>
        <main id="main">
            <section id="slider">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <div class="slider_text">
                            <h3>조이컨트리클럽</h3>
                            <span>즐거운 조이컨트리클럽에서의 경험</span>
                        </div>
                    </div>
                    <div class="slider s2">
                        <div class="slider_text">
                            <h3>조이컨트리클럽</h3>
                            <span>신나는 조이컨트리클럽에서의 경험</span>
                        </div>
                    </div>
                    <div class="slider s3">
                        <div class="slider_text">
                            <h3>조이컨트리클럽</h3>
                            <span>친절한 조이컨트리클럽의 서비스</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="banner">
                <div class="banner_text">
                    <h3>조이컨트리클럽 요금 안내</h3>
                    <span><a href="#">바로가기</a></span>
                </div>
            </section>
            <section class="noticeAndGallary">
                <div class="info_menu">
                    <a href="#" class="active">공지사항</a>
                    <a href="#">갤러리</a>
                </div>
                <div class="info_cont">
                    <article class="notice"></article>
                    <article class="gallary"></article>
                </div>

            </section>
            <sectioin class="link">
                <div class="link_card l1">
                    <a href="#"><img src="assets/img/slide01.jpg" alt="LINK1"></a>
                    <a href="#">LINK1</a>
                </div>
                <div class="link_card l2">
                    <a href="#"><img src="assets/img/slide02.jpg" alt="LINK2"></a>
                    <a href="#">LINK2</a>
                </div>
                <div class="link_card l3">
                    <a href="#"><img src="assets/img/slide03.jpg" alt="LINK3"></a>
                    <a href="#">LINK3</a>
                </div>
            </sectioin>
        </main>
        <footer id="footer">
            <div class="footer-1">
                <h1 class="logo"><a href="#">조이컨트리클럽</a></h1>
            </div>
            <div class="footer-2">
                <span>경기도 안산시 단원구 고잔2길 45, 601호<br>
                    업종: 골프장 대표자명: 이명재 사업내용: 골프 칠 수 있게 해드립니다 업종: 골프장 대표자명: 이명재 사업내용: 골프 칠 수 있게 해드립니다
                </span>
            </div>
            <div class="footer-3">
                <div class="sns">
                    <span>SNS</span>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>