:root {
    --main-nanum: "NanumSquareNeo";
    --main-gmark: "GmarketSans";

    --primary-color: #eff6ff;
    --btn: linear-gradient(to bottom, #eff6ff, #fffeef, #ffefef, #effff1);
    --btn2: linear-gradient(to bottom, #deedff, #fffcd3, #ffd7d7, #d6ffda);
    --btn3: linear-gradient(to bottom, #bcdafe, #faf5b2, #feb9b9, #bcffc3);

    --black: #000;
    --white: #fff;
    --red: #f00;

    --black100: #333;
    --black200: #555;
    --black300: #777;
    --black400: #999;
    --black500: #d7d7d7;
    --black600: #e8e8e8;


    --font_size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}