:root {
    --main-nanum: "NanumSquareNeo";
    --main-gmark: "GmarketSans";

    --primary-color: #eff6ff;
    --btn: linear-gradient(to bottom, #eff6ff, #fffeef, #ffefef, #effff1);
    --btn1-1: linear-gradient(to bottom, #eff6ff, #fffeef, #ffefef, #effff1);
    --btn1-2: linear-gradient(to bottom, #eff6ff, #fffeef);
    --btn1-3: linear-gradient(to bottom, #eff6ff, #ffefef);
    --btn1-4: linear-gradient(to bottom, #fffeef, #ffefef);
    --btn1-5: linear-gradient(to bottom, #ffefef, #effff1);
    --btn2-1: linear-gradient(to bottom, #deedff, #fffcd3, #ffd7d7, #d6ffda);
    --btn2-2: linear-gradient(to bottom, #deedff, #fffcd3);
    --btn2-3: linear-gradient(to bottom, #deedff, #ffd7d7);
    --btn2-4: linear-gradient(to bottom, #fffcd3, #ffd7d7);
    --btn2-5: linear-gradient(to bottom, #ffd7d7, #d6ffda);
    --btn3: linear-gradient(to bottom, #bcdafe, #faf5b2, #feb9b9, #bcffc3);


    --blue: #006eff;
    --blue1: #eff6ff;
    --blue2: #deedff;
    --blue3: #bcdafe;

    --yellow: #ffee00;
    --yellow1: #fffeef;
    --yellow2: #fffcd3;
    --yellow3: #faf5b2;

    --red: #ff0000;
    --red1: #ffefef;
    --red2: #ffd7d7;
    --red3: #feb9b9;

    --green: #00ff1e;
    --green1: #effff1;
    --green2: #d6ffda;
    --green3: #bcffc3;

    --white: #fff;
    
    --black: #000;
    --black100: #333;
    --black200: #555;
    --black300: #777;
    --black400: #999;
    --black500: #d7d7d7;
    --black600: #e8e8e8;


    --font_size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}